ansi==0.1.3
atomicwrites==1.3.0
attrs==17.4.0
autobahn-rce==0.6.0.5
Automat==0.6.0
certifi==2018.1.18
chardet==3.0.4
constantly==15.1.0
defer==1.0.6
docopt==0.6.2
funcsigs==1.0.2
gyp==0.1
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
more-itertools==5.0.0
numpy==1.14.2
pandas==0.24.1
parse-torrent-name==1.1.1
pathlib2==2.3.3
Pillow==5.0.0
pipreqs==0.4.9
pluggy==0.9.0
py==1.8.0
pycparser==2.10
pycurl==7.43.0
pygobject==3.20.0
pytest==4.3.0
python-apt==1.1.0b1
python-dateutil==2.8.0
python-debian==0.1.27
pytz==2018.9
PyYAML==3.12
requests==2.18.4
scandir==1.9.0
six==1.10.0
Twisted==19.7.0
urllib3==1.22
yarg==0.1.9
zope.interface==4.4.3
